## Question 1

In [4]:
import pandas as pd 
import numpy as np

In [58]:
data = {
        'Data Science': ['UnderGraduate',np.nan,np.nan],
        'Machine Learning': [np.nan,'Masters',np.nan] , 
        'Deep Learning': [np.nan, np.nan , 'Masters'] , 
        'Average': [70.1, 70.5, 70.3]
       }

In [59]:
df = pd.DataFrame(data)

In [60]:
df

    Data Science Machine Learning Deep Learning  Average
0  UnderGraduate              NaN           NaN     70.1
1            NaN          Masters           NaN     70.5
2            NaN              NaN       Masters     70.3

In [62]:
df = df.melt(id_vars=['Average'], value_vars=['Data Science','Machine Learning','Deep Learning'],
             var_name='Course' , value_name='Level')

In [15]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

## Question 2

In [74]:
import numpy as np
from sklearn.metrics.pairwise import manhattan_distances

In [104]:
train = pd.read_csv("train.txt",sep=",",header=None)
train

   0  1  2
0  2  3  0
1  1  5  1
2  4  2  1
3  2  5  0
4  6  8  0

In [106]:
X_train = train.drop(2, axis=1).values
y_train = train[2].values

In [107]:
test =  pd.read_csv("test.txt",sep=",",header=None)

In [108]:
X_test = test.values

In [118]:
for i in range (0,len(test)):
    
    class0 = 0
    class1 = 1
    values = []
    
    for j in range (0,len(train)):
        x = ([X_test[i],X_train[j]])
        values.append(1 / ( manhattan_distances(x) [1][0] / 10 ))
        
    for l in range(0,len(train)):
        if(y_train[l]==0):
            class0=class0+values[l]
        else :
            class1=class1+values[l]
            
    if(class0>class1):
        print("For (",X_test[i][0],",",X_test[i][1],") Predicted Label : Class 0")
    else:
        print("For (",X_test[i][0],",",X_test[i][1],") Predicted Label : Class 1")

For ( 3 , 1 ) Predicted Label : Class 1
For ( 2 , 2 ) Predicted Label : Class 0

## Question 3

In [20]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA

In [27]:
digits = datasets.load_digits()

In [31]:
df = pd.DataFrame(data= np.c_[digits['data'], digits['target']],
                     columns= digits['feature_names'] + ['target'])

In [56]:
df.shape

(1797, 65)

In [35]:
print("The number of instances are: " , len(df))
print("The number of attributes are: " , len(df.columns))

The number of instances are:  1797
The number of attributes are:  65

### SVM

In [48]:
clf = svm.SVC()
scores = cross_val_score(clf, digits['data'], digits['target'], cv=5)

In [49]:
for i in range(0,len(scores)):
    print("Fold" , i+1 , ": Accuracy using SVM: " , scores[i])

Fold 1 : Accuracy using SVM:  0.9611111111111111
Fold 2 : Accuracy using SVM:  0.9444444444444444
Fold 3 : Accuracy using SVM:  0.9832869080779945
Fold 4 : Accuracy using SVM:  0.9888579387186629
Fold 5 : Accuracy using SVM:  0.9387186629526463

### SVM and with only PCA features

In [44]:
pca = PCA(n_components=2)
pca.fit(digits['data'])
transformed_data = pca.transform(digits['data'])
clf = svm.SVC()
scores = cross_val_score(clf,transformed_data, digits['target'] , cv=5)

In [45]:
for i in range(0,len(scores)):
    print("Fold" , i+1 , ": Accuracy using SVM and with only PCA features: " , scores[i])

Fold 1 : Accuracy using SVM and with only PCA features:  0.6
Fold 2 : Accuracy using SVM and with only PCA features:  0.625
Fold 3 : Accuracy using SVM and with only PCA features:  0.6768802228412256
Fold 4 : Accuracy using SVM and with only PCA features:  0.6406685236768802
Fold 5 : Accuracy using SVM and with only PCA features:  0.637883008356546

### SVM and added PCA features

In [50]:
transformed_data

array([[ -1.2594663 ,  21.27488213],
       [  7.95761129, -20.76869887],
       [  6.99192283,  -9.95598473],
       ...,
       [ 10.80128389,  -6.96025407],
       [ -4.87209967,  12.42394921],
       [ -0.34438949,   6.36554755]])

In [51]:
digits['data']

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]])

In [55]:
newdata = np.hstack((digits['data'],transformed_data))

In [65]:
clf = svm.SVC()
scores = cross_val_score(clf,newdata, digits['target'] , cv=5)

In [66]:
for i in range(0,len(scores)):
    print("Fold" , i+1 , ": Accuracy using SVM and and added PCA features: " , scores[i])

Fold 1 : Accuracy using SVM and and added PCA features:  0.9583333333333334
Fold 2 : Accuracy using SVM and and added PCA features:  0.9416666666666667
Fold 3 : Accuracy using SVM and and added PCA features:  0.9888579387186629
Fold 4 : Accuracy using SVM and and added PCA features:  0.9888579387186629
Fold 5 : Accuracy using SVM and and added PCA features:  0.935933147632312